.container {
    display: flex;
    flex-wrap: wrap;
}
  
/* Estilizando a tabela */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}
  
/* Estilizando as células de cabeçalho */
th, td {
    text-align: left;
    border: 1px solid #ccc; /* Adicionando borda para células */
}
  
th {
    background-color: #f2f2f2;
}
  
/* Estilizando as linhas alternadas (opcional) */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
.table {
    margin: 1px;
    border: 1px solid #ccc;
}
  
  /* Estilizando as células de cabeçalho e dados */
.table th, .table td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ccc;
}
  
.table th {
    background-color: #f2f2f2;
}
  
  /* Estilizando as linhas alternadas (opcional) */
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
